/* ====================================
   CIDCO HERO SECTION
==================================== */

.cidco-hero{
    position:relative;
    width:100%;
    height:490px;
    overflow:hidden;
}

.hero-bg{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

.hero-overlay{
    position:absolute;
    inset:0;
    background:linear-gradient(
        rgba(37, 37, 37, 0.55),
        rgba(22, 22, 22, 0.45)
    );
}

.hero-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    text-align:center;
    width:90%;
    max-width:900px;
    color:#fff;
    z-index:2;
}

.hero-content h1{
    font-size:52px;
    font-weight:700;
    margin-bottom:15px;
    text-shadow:0 3px 10px rgba(0,0,0,0.3);
}

.hero-content p{
    font-size:20px;
    line-height:1.7;
    max-width:700px;
    margin:auto;
    color:#f2f2f2;
}

/* =========================
   TABLET
========================= */

@media(max-width:991px){

    .cidco-hero{
        height:320px;
    }

    .hero-content h1{
        font-size:40px;
    }

    .hero-content p{
        font-size:18px;
    }

}

/* =========================
   MOBILE
========================= */

@media(max-width:767px){

    .cidco-hero{
        height:250px;
    }

    .hero-content h1{
        font-size:28px;
        margin-bottom:10px;
    }

    .hero-content p{
        font-size:15px;
        line-height:1.6;
    }

}

.venue-section{
    padding:80px 0;
    background:#f1f0ed;
}

.section-title{
    text-align:center;
    font-size:42px;
    font-weight:700;
    color:#22356c;
    margin-bottom:40px;
}

/* TABS */

.venue-tabs{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
    margin-bottom:40px;
}

.tab-btn{
    border:none;
    background:none;
    font-size:23px;
    font-weight:500;
    color:#22356c;
    padding-bottom:10px;
    cursor:pointer;
    position:relative;
}

.tab-btn.active{
    color:#22356c;
}

.tab-btn.active::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:2px;
    background:#22356c;
}

/* CONTENT */

.venue-content{
    display:none;

    background:#fff;

    border-radius:12px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.08);

    grid-template-columns:45% 55%;
}

.venue-content.active{
    display:grid;
}

.venue-image img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.venue-info{
    padding:40px;
}

.venue-info h3{
    color:#22356c;
    margin-bottom:20px;
}

.venue-info p{
    color:#555;
    line-height:1.8;
}

.venue-stats{
    display:flex;
    gap:30px;
    margin-top:30px;
    flex-wrap:wrap;
}

.stat-box h4{
    color:#1f56a8;
    margin-bottom:5px;
}

.stat-box span{
    color:#666;
    font-size:14px;
}

.venue-btn{
    display:inline-block;
    margin-top:35px;
    padding:12px 30px;
    border:2px solid #22356c;
    text-decoration:none;
    color:#22356c;
    font-weight:600;
    transition:.3s;
}

.venue-btn:hover{
    background:#22356c;
    color:#fff;
}

/* TABLET */

@media(max-width:991px){

    .venue-content{
        grid-template-columns:1fr;
    }

    .venue-image{
        height:350px;
    }

}

/* MOBILE */

@media(max-width:767px){

    .section-title{
        font-size:30px;
    }

    .venue-tabs{
        gap:20px;
    }

    .tab-btn{
        font-size:15px;
    }

    .venue-image{
        height:250px;
    }

    .venue-info{
        padding:25px;
    }

    .venue-stats{
        flex-direction:column;
        gap:15px;
    }

}



/*=========================
LOCATION SECTION
=========================*/

.location-section{
    padding:90px 0;
    background:#ffffff;
}

.location-heading{
    text-align:center;
    max-width:850px;
    margin:auto;
    margin-bottom:60px;
}

.location-heading h2{
    font-size:42px;
    font-weight:700;
    color:#22356c;
    margin-bottom:15px;
}

.location-heading p{
    font-size:18px;
    color:#494949;
    line-height:1.8;
}


/* Layout */

.location-wrapper{
    display:grid;
    grid-template-columns:1.1fr 1fr;
    gap:50px;
    align-items:center;
}


/* Map */

.map-box{
    background:#edf4ff;
    padding:15px;
    border-radius:20px;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.map-box iframe{
    width:100%;
    height:500px;
    border:none;
    border-radius:15px;
}


/* Right Side */

.location-info{
    display:flex;
    flex-direction:column;
    gap:28px;
}


.info-item{
    display:flex;
    gap:18px;
}

.info-icon{
    min-width:60px;
    width:60px;
    height:60px;
    background:#edf4ff;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.info-icon i{
    font-size:24px;
    color:#22356c;
}

.info-text h4{
    font-size:20px;
    color:#22356c;
    margin-bottom:8px;
}

.info-text p{
    color:#666;
    line-height:1.7;
    margin:0;
}


/* Button */

.location-btn{
    
    width:fit-content;
    display:inline-block;
    margin-top:35px;
    padding:12px 30px;
    border:2px solid #22356c;
    text-decoration:none;
    color:#22356c;
    font-weight:600;
    transition:.3s;
}

.location-btn:hover{
    background:#22356c;
    color: #fff;
}


/*=========================
TABLET
=========================*/

@media(max-width:991px){

.location-wrapper{
    grid-template-columns:1fr;
}

.map-box iframe{
    height:380px;
}

.location-heading h2{
    font-size:36px;
}

}


/*=========================
MOBILE
=========================*/

@media(max-width:767px){

.location-section{
    padding:60px 0;
}

.location-heading h2{
    font-size:30px;
}

.location-heading p{
    font-size:16px;
}

.map-box iframe{
    height:280px;
}

.info-item{
    align-items:flex-start;
}

.info-icon{
    min-width:50px;
    width:50px;
    height:50px;
}

.info-icon i{
    font-size:20px;
}

.info-text h4{
    font-size:18px;
}

}

